<!DOCTYPE html>
<html>
  <head>
    <title>Movie Catalog - Campus Code</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
      <nav>
      <ul>
        <li>
          <%= link_to 'Home', root_path %>
        </li>

        <li>
          <%= link_to 'Cadastrar gênero de filme', new_genre_path %>
        </li>

        <li>
          <%= link_to 'Cadastrar diretor', new_director_path %>
        </li>

        <li>
          <%= link_to 'Cadastrar filme', new_movie_path %>
        </li>

      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
